# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specific
homepage-structure.md
my_local_backup.sql
*.sql
# Change *.yaml to specific ones if you want to track application.yaml
# *.yaml 

# Local temporary files
.env
npm/
lint-output.tmp
*.tmp
docs/**

# Refernces of AI designs
**/assets/users/

../../.vscode/