MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=password
PORT=8080
MAIL_USERNAME=datnh.work@gmail.com
MAIL_PASSWORD=ttbl wjzq blsg ebar
JWT_SIGNER_KEY=RikkeisoftHCMcity9998hIrNT3QZjFzSdzZ3YvFWhQyoV4HnOrMbcsrIKMgHMlV
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=headhunterstorage;AccountKey=J5wBrVeufVXHdxnrBWSIKSE8Q8SnJ4onHA+NZW58mXJWUvn/4TcljiAGeQQh2EE9qjZUWUql36GF+AStVmQeJA==;EndpointSuffix=core.windows.net
AZURE_STORAGE_CONTAINER_NAME=uploads
